<div class="e_number s_form1 form-group {{#eq prop.state 'hidden'}}formHide{{/eq}}" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        <span class="s_label">{{prop.label}}</span>
        {{#if prop.validate.required.value}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    {{#eq prop.state 'readOnly'}}
    <p class="s_input p_formValue">{{prop.value}}</p>
    {{/eq}}
    <div class="p_number {{#eq prop.state 'readOnly'}}hide{{/eq}}">
        <div class="input-group">
            <input type="number" class="form-control s_form-control s_input p_input" name="${elemId}" 
                {{#if prop.showPlaceholder}}placeholder="{{prop.placeholder}}"{{/if}} 
                {{#if prop.value}}value="{{prop.value}}"{{/if}} 
                {{#eq prop.state 'disabled'}}disabled{{/eq}}
            >
            <div class="input-group-append">
                {{#if prop.unit}}
                <span class="s_other p_unit">
                {{prop.unit}}
                </span>
                {{/if}}
            </div>
            <div class="invalid-feedback"></div>
        </div>
    </div>
</div>