<div class="e_navigationE" needjs="true">
    {{#if prop.dataList}}
    <ul class="p_navBox1">
        {{#each prop.dataList}}
        <li class="p_navItem1">
            <p class="p_navCon js_editor_click">
                <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                    url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                    <span>{{navName}}</span>
                </a>
                {{#if children}}{{{../prop.arrow}}}{{/if}}
            </p>
            {{#if children}}
            <div class="p_navBox2">
                <div>
                    <ul>
                        {{#each children}}
                        <li class="p_navItem2">
                            <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                                url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                                <p class="p_menu2Item">{{navName}}</p>
                                <span class="p_img">{{#if img}}{{{nLazyImage img navName 'true'}}}{{/if}}</span>
                            </a>
                            {{#if this.children}}
                            <ul class="p_level3Box">
                                {{#each this.children}}
                                <li class="p_level3Item">
                                    <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                                        url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                                        <p class="p_menuItem">{{navName}}</p>
                                        <span class="p_img">{{#if img}}{{{nLazyImage img navName 'true'}}}{{/if}}</span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <div class="p_navButton js_editor_click">
        <p>
            <span></span>
            <span></span>
            <span></span>
        </p>
    </div>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
</div>