<div class="e_download" needjs="true">
    <ul class="p_download">
        {{#each prop.attachment}}
            <li class="d-flex align-items-center border mb-2 pl-3 pr-3 p_item" data-fileExtName="{{fileExtName}}"> 
                <!-- 复选框 -->
                <div class="form-check  p_name">
                    <input class="form-check-input p_inputitem" type="checkbox" value="{{filePath}}" id="checkId{{@index}}">
                    <!-- 文件名称 -->
                    <label class="form-check-label text-nowrap text-dark p_filename"  for="checkId{{@index}}"> {{fileName}} </label>
                </div>
                <!-- 文件大小 -->
                <p class="flex1 flex-shinrk-0 text-center">
                    <span class="text-secondary p_label"> {{../i18n.fileSize}} </span>
                    <span> {{fileSize}} </span>
                </p>
                <!-- 访问量 -->
                <p class="flex1 flex-shinrk-0 text-center">
                    <span class="text-secondary p_label"> {{../i18n.pvs}} </span>
                    <span> {{pvs}} </span>
                </p>
                <!-- 按钮组 -->
                <div class="flex1 flex-shinrk-0 text-right  p_btnGroup">
                    {{#eq fileExtName 'pdf'}}
                        <button type="button" class="btn btn-outline-primary btn-sm pl-3 pr-3 s_button1 p_preview" >{{../i18n.preview}}</button>
                    {{/eq}}
                    <button type="button" class="btn btn-primary btn-sm pl-3 pr-3 s_button1 p_downbtn">{{../i18n.download}}</button>
                </div>
            </li>
        {{/each}}
    </ul>
    <div class="d-flex align-items-center pl-3 pr-3 ">
         <!-- 全选 -->
        <div class="form-check p_allSelect mr-3">
            <input class="form-check-input p_allCheck" type="checkbox" value="" id="allcheck">
            <label class="form-check-label text-nowrap text-dark p_filename"  for="allcheck"> {{i18n.allSelect}} </label>
        </div>
        <!-- 全选 -->
        <button class="btn btn-primary btn-sm pl-3 pr-3 s_button1 p_allBtn"> {{i18n.download}} </button>
    </div>
</div>