<div class="e_imgCube_C s_img">
    {{#prop.imgList}}
        {{#eq @index 0}}
			<div class="p_imgItem " style="width:calc(( 100% - {{../prop.space}}px) / 3);height:calc(( 100% - {{../prop.space}}px) / 2)">
                <!-- 链接 -->
                {{#if href.value}}	
                <a href="{{$transferLink href compId}}" target="{{href.target}}">
                {{/if}}
                    <!-- 图片 -->
                    {{{nLazyImage imageUrl title "{{isLazy}}"}}}
                {{#if href.value}}	
                </a>
                {{/if}}
            </div>      
		{{/eq}}

        {{#eq @index 1}}
			<div class="p_imgItem " style="width:calc(( 100% - {{../prop.space}}px) / 3 * 2);height:calc(( 100% - {{../prop.space}}px) / 2)">
                <!-- 链接 -->
                {{#if href.value}}	
                <a href="{{$transferLink href compId}}" target="{{href.target}}">
                {{/if}}
                    <!-- 图片 -->
                    {{{nLazyImage imageUrl title "{{isLazy}}"}}}
                {{#if href.value}}	
                </a>
                {{/if}}
            </div>
		{{/eq}}
        
        {{#eq @index 2}}
			<div class="p_imgItem " style="width:calc(( 100% - {{../prop.space}}px) / 3 * 2);height:calc(( 100% - {{../prop.space}}px) / 2)">
                <!-- 链接 -->
                {{#if href.value}}	
                <a href="{{$transferLink href compId}}" target="{{href.target}}">
                {{/if}}
                    <!-- 图片 -->
                    {{{nLazyImage imageUrl title "{{isLazy}}"}}}
                {{#if href.value}}	
                </a>
                {{/if}}
            </div>
		{{/eq}} 

        {{#eq @index 3}}
			<div class="p_imgItem " style="width:calc(( 100% - {{../prop.space}}px) / 3);height:calc(( 100% - {{../prop.space}}px) / 2)">
                <!-- 链接 -->
                {{#if href.value}}	
                <a href="{{$transferLink href compId}}" target="{{href.target}}">
                {{/if}}
                    <!-- 图片 -->
                    {{{nLazyImage imageUrl title "{{isLazy}}"}}}
                {{#if href.value}}	
                </a>
                {{/if}}
            </div>
		{{/eq}} 
    {{/prop.imgList}}
</div>
