<div class="e_navigationC" needjs="true">
    {{#if prop.dataList}}
    <p class="p_iconBox">
        {{{prop.menu}}}
        {{{prop.close}}}
    </p>
    <ul class="bg-white p_navBox1">
        {{#each prop.dataList}}
        <li class="border-bottom p_navItem1">
            <p>
                <a href="{{#if href}}{{href}}{{^}}javascript:;{{/if}}" target="{{#eq target 'BLANk'}}_blank{{/eq}}">
                    <span>{{name}}</span>
                    {{#if children}}{{{../prop.arrow}}}{{/if}}
                </a>
            </p>
            {{#if children}}
            <div class="bg-white p_navBox2">
                <ul>
                    {{#each children}}
                    <li class="border p_navItem2">
                        <p>
                            <a href="{{#if href}}{{href}}{{^}}javascript:;{{/if}}" target="{{#eq target 'BLANk'}}_blank{{/eq}}">
                                <span>{{name}}</span>
                            </a>
                        </p>
                    </li>
                    {{/each}}
                </ul>
                <div class="p_imgBox">
                    {{#each children}}
                    {{{nLazyImage imgUrl name 'true'}}}
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{^}}
    {{noDataPrompt}}
    {{/if}}
</div>