<div class="e_categoryC" needjs='true'>
    <div class="p_c_tree">
        {{#if prop.cate}}
        {{#tree prop.cate}}
        {{#if @nodeBegin}}<ul class="p_c_content deep-{{@deep}}">{{/if}}
            <li class="p_c_item">
                <p class="p_c_t js_editor_click">
                    <a href="{{#if categoryUrl}}{{categoryUrl}}{{^}}javascript:;{{/if}}"
                    class="p_c_title{{@deep}} {{#eq selected true}}active{{/eq}} deep"
                    target="{{#eq target 'BLANK'}}_blank{{/eq}}">
                        {{categoryName}}
                    </a>
                </p>
                {{tree children}}
            </li>
            {{#if @nodeEnd}}
        </ul>{{/if}}
        {{/tree}}
        {{^}}
        {{nNoDataPrompt i18n.noData}}
        {{/if}}
    </div>
</div>