<div class="e_bannerC" needjs="true">
    {{#if prop.bannerLists}}
    <div class="swiper-container gallery-top" >
        <div class="swiper-wrapper">
            {{#each prop.bannerLists}}
            <div class="swiper-slide" >
                {{#eq type 1}}
                    {{#if href.value}}
                    <a href="{{$transferLink href compId}}" target="{{href.target}}">
                    {{/if}}
                    <div class="p_img">
                        {{{nLazyImage imgUrl title '{{#eq @index 0}}false{{^}}true{{/eq}}'}}}
                    </div>
                    {{#if href.value}}
                    </a>
                    {{/if}}
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_video">
                        <div class="p_videoPoster">
                            {{{nLazyImage video.coverImgUrl title 'false'}}}
                        </div>
                        <div class="videoContent">
                        {{{lazyVideo video.url ../prop.settings.videoMouted false}}}
                        </div>
                    </div>
                {{/eq}}
                <div class="p_info {{#eq type 2}}p_videoInfo{{/eq}}">
                    <div>
                        {{#if title}}
                        <h1 class="text-white p_btitle">{{title}}</h1>
                        {{/if}}
                        {{#if subTitle}}
                        <h6 class="text-white bg-dark p_subtitle">{{subTitle}}</h6>
                        {{/if}}
                        {{#if summary}}
                        <p class="text-white p_summary">{{summary}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{#if prop.settings.navigation}}
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        {{/if}}
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            {{#each prop.bannerLists}}
            <div class="swiper-slide" >
                {{#eq type 1}}
                    <div class="p_img">
                        {{{nLazyImage imgUrl title '{{#eq @index 0}}false{{^}}true{{/eq}}'}}}
                    </div>
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_img">
                        {{{nLazyImage video.imgUrl title 'false'}}}
                    </div>
                {{/eq}}
            </div>
            {{/each}}
        </div>
    </div>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
</div>