<div class="e_bannerC s_list" needjs="true">
    {{#if prop.bannerLists}}
    <div class="swiper-container gallery-top" >
        <div class="swiper-wrapper">
            {{#each prop.bannerLists}}
            <div class="swiper-slide" >
                {{#eq type 1}}
                    <div class="p_img">
                        <a href="{{#if href.value}}{{$transferLink href compId}}{{^}}javascript:;{{/if}}" {{#if href.value}}target="{{href.target}}"{{/if}}>
                        {{#eq @index 0}}
                        {{{nLazyImage imgUrl title 'false'}}}
                        {{^}}
                        {{{nLazyImage imgUrl title 'true'}}}
                        {{/eq}}
                        </a>
                    </div>
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_video">
                        <div class="p_videoPoster">
                            {{{nLazyImage video.coverImgUrl title 'false'}}}
                        </div>
                        <div class="videoContent">
                        {{{lazyVideo video.videoUrl ../prop.settings.videoMouted false}}}
                        </div>
                    </div>
                {{/eq}}
                <div class="p_info {{#eq type 2}}p_videoInfo{{/eq}}">
                    <div>
                        {{#if prop.settings.showText}}
                        {{#if title}}
                        <h1 class="text-white p_btitle">
                            <a href="{{#if href.value}}{{$transferLink href compId}}{{^}}javascript:;{{/if}}" {{#if href.value}}target="{{href.target}}"{{/if}}>
                            {{title}}
                            </a>
                        </h1>
                        {{/if}}
                        {{#if subTitle}}
                        <h6 class="text-white p_subtitle">{{subTitle}}</h6>
                        {{/if}}
                        {{#if summary}}
                        <p class="text-white p_summary">{{summary}}</p>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{#if prop.settings.navigation}}
        <div class="js_editor_click swiper-button-next swiper-button-white p_btn_icon"></div>
        <div class="js_editor_click swiper-button-prev swiper-button-white p_btn_icon"></div>
        {{/if}}
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            {{#each prop.bannerLists}}
            <div class="swiper-slide" >
                {{#eq type 1}}
                    <div class="p_img">
                        {{{nLazyImage imgUrl title 'false'}}}
                    </div>
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_img">
                        {{{nLazyImage video.coverImgUrl title 'false'}}}
                    </div>
                {{/eq}}
            </div>
            {{/each}}
        </div>
    </div>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
</div>