<div class="e_floatingShoppingCart" needjs='true'>
  <div class="p_mini_cart" data-ename="浮动购物车">
    <!-- 购物车按钮（pc） -->
    <button type="button" class="btn btn-primary s_button1 p_show_l">
      <svg t="1607678938484" class="icon p_text-white" viewBox="0 0 1024 1024" version="1.1"
           xmlns="http://www.w3.org/2000/svg" p-id="2372" width="200" height="200">
        <path d="M388.40380836 697.39428711c-33.9889524 0-61.48910546 27.80914307-61.48910475 61.79809547S354.41485596 820.99047875 388.40380836 820.99047875s61.79809547-27.80914307 61.79809617-61.79809617-27.80914307-61.79809547-61.79809617-61.79809547zM233.90856933 264.80761742h30.89904809l111.23657227 234.5237732-41.7137146 75.39367628C311.77416992 616.1297915 341.43725586 666.49523902 388.40380836 666.49523902h339.88952684c16.99447656 0 30.89904809-13.90457153 30.89904738-30.89904738s-13.90457153-30.89904809-30.89904738-30.89904808H388.40380836l33.98895311-61.79809547h230.19790601c23.17428589 0 43.56765747-12.66860938 54.07333398-31.82601952l110.61859155-200.5348208A30.77545166 30.77545166 0 0 0 790.40042138 264.80761742H333.09451294l-20.7023623-44.1856389a30.68275451 30.68275451 0 0 0-27.80914306-17.61245727H233.90856933c-16.99447656 0-30.89904809 13.90457153-30.89904808 30.89904808s13.90457153 30.89904809 30.89904809 30.89904809z m463.48571778 432.58666969c-33.9889524 0-61.48910546 27.80914307-61.48910546 61.79809547s27.50015235 61.79809547 61.48910546 61.79809617 61.79809547-27.80914307 61.79809547-61.79809617-27.80914307-61.79809547-61.79809547-61.79809547z"
              p-id="2373" fill=""></path>
      </svg>
      {{i18n.shoppingCartBtnName}}
      <span class="badge badge-light pj_card-num p_cardnum">0</span>
    </button>
    <!-- 购物车按钮（移动端） -->
    <button type="button" class="p_show_s">
      <svg t="1607678938484" class="icon text-primary" viewBox="0 0 1024 1024" version="1.1"
           xmlns="http://www.w3.org/2000/svg" p-id="2372" width="200" height="200">
        <path d="M388.40380836 697.39428711c-33.9889524 0-61.48910546 27.80914307-61.48910475 61.79809547S354.41485596 820.99047875 388.40380836 820.99047875s61.79809547-27.80914307 61.79809617-61.79809617-27.80914307-61.79809547-61.79809617-61.79809547zM233.90856933 264.80761742h30.89904809l111.23657227 234.5237732-41.7137146 75.39367628C311.77416992 616.1297915 341.43725586 666.49523902 388.40380836 666.49523902h339.88952684c16.99447656 0 30.89904809-13.90457153 30.89904738-30.89904738s-13.90457153-30.89904809-30.89904738-30.89904808H388.40380836l33.98895311-61.79809547h230.19790601c23.17428589 0 43.56765747-12.66860938 54.07333398-31.82601952l110.61859155-200.5348208A30.77545166 30.77545166 0 0 0 790.40042138 264.80761742H333.09451294l-20.7023623-44.1856389a30.68275451 30.68275451 0 0 0-27.80914306-17.61245727H233.90856933c-16.99447656 0-30.89904809 13.90457153-30.89904808 30.89904808s13.90457153 30.89904809 30.89904809 30.89904809z m463.48571778 432.58666969c-33.9889524 0-61.48910546 27.80914307-61.48910546 61.79809547s27.50015235 61.79809547 61.48910546 61.79809617 61.79809547-27.80914307 61.79809547-61.79809617-27.80914307-61.79809547-61.79809547-61.79809547z"
              p-id="2373" fill=""></path>
      </svg>
      <span class="badge badge-danger text-white pj_card-num p_cardnum">0</span>
    </button>
    <!-- 滑块容器 -->
    <div class="shadow p-3 bg-white rounded p_content bd">
      <p class="text-muted overflow-hidden border-bottom p_title">
        <span>{{i18n.shoppingCartTitle}}</span>
        <span class="float-right font24 float-right font24 p_closeCart pj_closeCart"><svg
               t="1606111610307" class="icon" viewBox="0 0 1024 1024" version="1.1"
               xmlns="http://www.w3.org/2000/svg" p-id="2470" width="200" height="200">
            <path d="M780.8 243.626667a41.984 41.984 0 0 0-29.866667-12.373334c-11.093333 0-22.186667 4.693333-29.866666 12.373334L512 451.84 303.36 243.2a41.984 41.984 0 0 0-29.866667-12.373333c-11.093333 0-22.186667 4.693333-30.293333 12.373333a42.496 42.496 0 0 0 0 60.16L451.84 512 243.2 720.64a42.496 42.496 0 1 0 60.16 60.16L512 572.16l208.64 208.64a42.496 42.496 0 1 0 60.16-60.16L572.16 512l208.64-208.64c16.213333-16.213333 16.213333-43.52 0-59.733333z"
                  p-id="2471"></path>
          </svg></span>
      </p>
      <!-- 列表 -->
      <ul class="e_list pj_list p_goods_list"></ul>
      <!-- 查看购物车 -->
      <div class="mt-3 p_webstat">
        <p class="p_p_webstat_l">
          <span class="mr-2">
            {{i18n.total}}
            <i class="text-danger mx-1 pj_totalNum">0</i>
      </svg>
      {{i18n.shoppingCartBtnName}}
      <span class="badge badge-light pj_card-num p_cardnum">0</span>
    </button>
    <!-- 购物车按钮（移动端） -->
    <button type="button" class="p_show_s">
      <svg t="1607678938484" class="icon text-primary" viewBox="0 0 1024 1024" version="1.1"
           xmlns="http://www.w3.org/2000/svg" p-id="2372" width="200" height="200">
        <path d="M388.40380836 697.39428711c-33.9889524 0-61.48910546 27.80914307-61.48910475 61.79809547S354.41485596 820.99047875 388.40380836 820.99047875s61.79809547-27.80914307 61.79809617-61.79809617-27.80914307-61.79809547-61.79809617-61.79809547zM233.90856933 264.80761742h30.89904809l111.23657227 234.5237732-41.7137146 75.39367628C311.77416992 616.1297915 341.43725586 666.49523902 388.40380836 666.49523902h339.88952684c16.99447656 0 30.89904809-13.90457153 30.89904738-30.89904738s-13.90457153-30.89904809-30.89904738-30.89904808H388.40380836l33.98895311-61.79809547h230.19790601c23.17428589 0 43.56765747-12.66860938 54.07333398-31.82601952l110.61859155-200.5348208A30.77545166 30.77545166 0 0 0 790.40042138 264.80761742H333.09451294l-20.7023623-44.1856389a30.68275451 30.68275451 0 0 0-27.80914306-17.61245727H233.90856933c-16.99447656 0-30.89904809 13.90457153-30.89904808 30.89904808s13.90457153 30.89904809 30.89904809 30.89904809z m463.48571778 432.58666969c-33.9889524 0-61.48910546 27.80914307-61.48910546 61.79809547s27.50015235 61.79809547 61.48910546 61.79809617 61.79809547-27.80914307 61.79809547-61.79809617-27.80914307-61.79809547-61.79809547-61.79809547z"
              p-id="2373" fill=""></path>
      </svg>
      <span class="badge badge-danger text-white pj_card-num p_cardnum">0</span>
    </button>
    <!-- 滑块容器 -->
    <div class="shadow p-3 bg-white rounded p_content bd">
      <p class="text-muted overflow-hidden border-bottom p_title">
        <span>{{i18n.shoppingCartTitle}}</span>
        <span class="float-right font24 float-right font24 p_closeCart pj_closeCart"><svg
               t="1606111610307" class="icon" viewBox="0 0 1024 1024" version="1.1"
               xmlns="http://www.w3.org/2000/svg" p-id="2470" width="200" height="200">
            <path d="M780.8 243.626667a41.984 41.984 0 0 0-29.866667-12.373334c-11.093333 0-22.186667 4.693333-29.866666 12.373334L512 451.84 303.36 243.2a41.984 41.984 0 0 0-29.866667-12.373333c-11.093333 0-22.186667 4.693333-30.293333 12.373333a42.496 42.496 0 0 0 0 60.16L451.84 512 243.2 720.64a42.496 42.496 0 1 0 60.16 60.16L512 572.16l208.64 208.64a42.496 42.496 0 1 0 60.16-60.16L572.16 512l208.64-208.64c16.213333-16.213333 16.213333-43.52 0-59.733333z"
                  p-id="2471"></path>
          </svg></span>
      </p>
      <!-- 列表 -->
      <ul class="e_list pj_list p_goods_list"></ul>
      <!-- 查看购物车 -->
      <div class="mt-3 p_webstat">
        <p class="p_p_webstat_l">
          <span class="mr-2">
            {{i18n.total}}
            <i class="text-danger mx-1 pj_totalNum">0</i>
            {{i18n.utilgoods}}
          </span>
          <span>
            {{i18n.sum}}
            <i class="text-danger mx-1 pj_totalPrice">0</i>
          </span>
        </p>

        <a href="/sys/cart" target="_self">
          <button class="btn btn-primary s_button1 p_p_webstat_r"> {{i18n.goCart}} </button>
        </a>
      </div>
      <!-- 滑块三角标识 -->
      <div class="p_arrow"></div>
    </div>
  </div>
  <input type="hidden" name="i18nJson" value='{{{i18nJson}}}' />
</div>
