
<div class="e_inputHidden formHide">
    <p>隐藏域元素占位</p>
    
    {{#if prop.value1}}<input type="hidden" name="hiddenValue${id}-0" value="{{prop.value1}}" />{{/if}}
    {{#if prop.value2}}<input type="hidden" name="hiddenValue${id}-1" value="{{prop.value2}}" />{{/if}}
    {{#if prop.value3}}<input type="hidden" name="hiddenValue${id}-2" value="{{prop.value3}}" />{{/if}}
    {{#if prop.value4}}<input type="hidden" name="hiddenValue${id}-3" value="{{prop.value4}}" />{{/if}}
    {{#if prop.value5}}<input type="hidden" name="hiddenValue${id}-4" value="{{prop.value5}}" />{{/if}}
    {{#if prop.value6}}<input type="hidden" name="hiddenValue${id}-5" value="{{prop.value6}}" />{{/if}}
    {{#if prop.value7}}<input type="hidden" name="hiddenValue${id}-6" value="{{prop.value7}}" />{{/if}}
    {{#if prop.value8}}<input type="hidden" name="hiddenValue${id}-7" value="{{prop.value8}}" />{{/if}}
    {{#if prop.value9}}<input type="hidden" name="hiddenValue${id}-8" value="{{prop.value9}}" />{{/if}}
    {{#if prop.value10}}<input type="hidden" name="hiddenValue${id}-9" value="{{prop.value10}}" />{{/if}}
</div>