<fieldset class="e_radio s_form1 form-group {{#eq prop.state 'hidden'}}formHide{{/eq}}" needjs="true" {{#if prop.validate.required.value}}required{{/if}}>
    {{#if prop.showLabel}}
    <legend class="col-form-label p_label">
        <span class="s_label">{{prop.label}}</span>
    </legend>
    {{/if}}
    {{#eq prop.state 'readOnly'}}
    <p class="s_input p_formValue"></p>
    {{/eq}}
    <div class="{{#eq prop.state 'readOnly'}}hide{{/eq}}">
        <div class="p_input">
            {{#prop.options}}
            <div class="form-check form-check-inline  p_radioItem">
                <input class="form-check-input s_form-control" type="radio" name="${elemId}" id="${elemId}-{{@index}}" value="{{value}}" {{#if select}}checked{{/if}} {{#eq ../prop.state 'disabled'}}disabled{{/eq}}>
                <label class="form-check-label s_other" for="${elemId}-{{@index}}">{{label}}</label>
            </div>
            {{/prop.options}}
        </div>
        <div class="invalid-feedback"></div>
    </div>
</fieldset>