<div class="e_floatingA " needjs="true">
    <!-- 对比按钮（mo） -->
    {{#prop.list}}
    <div class="badge-primary p-1 p_contrast">
        {{#eq @index 0}}
        <span class="p_contrast_text">{{name}}</span>
        <span class="p_contrast_num">0</span>
        {{/eq}}
    </div>
    {{/prop.list}}
    <!-- 蒙层 -->
    <div class="p_obscuration show">
        <!-- 对比列表 -->
        <div class="bg-white p_contrast_list">
            <!-- 提示语 -->
            <div class="alert alert-danger p_danger hide">
                <span class="j_column"></span>{{i18n.tip}}
            </div>
            <!-- 切换tab -->
            <div class="text-primary p_title">
                <div class="j_tab p_tab">
                {{#prop.list}}
                    <span class="px-3 py-2 p_title_compareTheBar {{#eq @index 0}} active{{/eq}} ">{{name}}</span>
                {{/prop.list}}
                </div>
                <select class="mx-3 my-2 form-control j_mo_tab p_form-control">
                {{#prop.list}}
                    <option value="{{@index}}">{{name}}</option>
                {{/prop.list}}
                </select>
                <span class="px-3 py-2 p_title_hidden">{{i18n.hidden}}</span>
            </div>
            <!-- 切换列表 -->
            <ul class="j_switch_list">
                {{#prop.list}}
                <li class="hidden {{#eq @index 0}} showList{{/eq}}">
                    <ul class="border border-primary px-sm-2 py-md-2 p_data_list">
                        
                        <li class="text-primary py-sm-3 p_last_item">
                            <button class="btn btn-primary p_contrast_btn">{{name}}</button>
                            <p class="py-2 p_contrast_clear">清空全部内容</p>
                        </li>
                    </ul>
                </li>
                {{/prop.list}}
                {{!-- 

                <li class="hidden ">
                    <ul class="border border-primary px-sm-2 py-md-2 p_data_list">

                        <li class="border-right border-secondary p-4 p_item">
                            <a href="" class="text-secondary bg-light mr-3 p_item_img">1
                            </a>
                            <div class="p_nocomparedata">
                                您还可以继续添加
                            </div>
                        </li>
                        <li class="border-right border-secondary p-4 p_item">
                            <a href="" class="text-secondary bg-light mr-3 p_item_img">2
                            </a>
                            <div class="p_nocomparedata">
                                您还可以继续添加
                            </div>
                        </li>
                        <li class="border-right border-secondary p-4 p_item">
                            <a href="" class="text-secondary bg-light mr-3 p_item_img">3
                            </a>
                            <div class="p_nocomparedata">
                                您还可以继续添加
                            </div>
                        </li>
                        <li class="border-right border-secondary p-4 p_item">
                            <a href="" class="text-secondary bg-light mr-3 p_item_img">4
                            </a>
                            <div class="p_nocomparedata">
                                您还可以继续添加
                            </div>
                        </li>
                        <li class="text-primary py-sm-3 p_last_item">
                            <button class="btn btn-primary p_contrast_btn">询价</button>
                            <p class="py-2 p_contrast_clear">清空全部内容</p>
                        </li>
                    </ul>
                </li> --}}
            </ul>
        </div>
    </div>
    <input type="hidden" name="propJson" value='{{{propJson}}}' />
    <input type="hidden" name="i18nJson" value='{{{i18nJson}}}' />
</div>