<div class="e_bannerA" needjs="true">
    {{#if prop.bannerLists}}
    <div class="swiper-container" >
        <div class="swiper-wrapper p_swiperContainer">
            {{#prop.bannerLists}}
            <div class="swiper-slide p_slide">
                {{#eq type 1}}
                    {{#if href}}
                    <a href="{{href}}" target="{{target}}">
                    {{/if}}
                    <div class="p_img">
                        {{{lazyImage imgUrl "title='{{title}}' alt='{{title}}'" 'true'}}}
                    </div>
                    {{#if href}}
                    </a>
                    {{/if}}
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_video">
                        <div class="p_videoPoster">
                            {{{lazyImage video.imgUrl "title='{{title}}' alt='{{title}}'" 'false'}}}
                        </div>
                        <video class="videoContent" src="{{video.videoUrl}}" muted></video>
                    </div>
                {{/eq}}
                <div class="p_info {{#eq type 2}}p_videoInfo{{/eq}}">
                    <div>
                        {{#if title}}
                        <h1 class="text-white p_btitle">{{title}}</h1>
                        {{/if}}
                        {{#if subTitle}}
                        <h6 class="text-white bg-dark p_subtitle">{{subTitle}}</h6>
                        {{/if}}
                        {{#if summary}}
                        <p class="text-white p_summary">{{summary}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/prop.bannerLists}}
        </div>
        <div class="swiper-pagination p_pagenation"></div>
        {{#if prop.navigation}}
        <div class="swiper-button-next p_btn_next"></div>
        <div class="swiper-button-prev p_btn_prev"></div>
        {{/if}}
    </div>
    {{^}}
    {{{noDataPrompt}}}
    {{/if}}
<input type="hidden" name="propJson" value='{{{propJson}}}' />
</div>