<div class="e_productScreen s_list" needjs="true">
    <div class="bg-light p_moSwitch">{{i18n.screening}}
        <svg t="1627366007801" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5113" width="200" height="200"><path d="M819.78811932 242.31735897c-9.50725078-20.94723701-30.4301548-34.47986126-53.29969884-34.47986126l-505.27822494-0.00695228a56.29613399 56.29613399 0 0 0-51.93357467 34.42424297c-9.36472893 21.77803516-5.02650261 46.23617649 11.26270294 62.54276275l1.79368972 2.15173245 186.56806469 149.52628613a16.13277912 16.13277912 0 0 1 6.28834248 12.48282909v256.52544021a57.11997986 57.11997986 0 0 0 30.30153751 50.93244554l80.77165604 44.99519348c8.9093542 4.65107918 18.08984756 6.91057205 28.05594921 6.91057205h0.04518986c15.8234024 0 30.55877209-6.10063076 41.4947176-17.17909813 10.76561451-10.90466022 16.58120155-25.44884205 16.37958526-41.00458146V470.55394841a16.54296398 16.54296398 0 0 1 5.7877779-12.42721081l189.22383786-151.28869058 2.23863602-2.18649387a56.74108028 56.74108028 0 0 0 10.29981136-62.33419418z m-40.77515602 32.73136139l-0.26418686 0.35804272-186.88091756 150.41965484c-13.64733697 11.00546837-21.46865844 27.47890949-21.46865844 45.19680977v299.11166667c0.01738072 5.63482762-2.95472145 10.96723079-8.04031849 14.0714264a18.10375214 18.10375214 0 0 1-7.99165248 1.87016488 16.24053955 16.24053955 0 0 1-7.82132149-1.93968773l-80.72299004-44.16787148c-4.95697975-2.44720459-8.04031849-7.85260677-8.0403185-14.10966396V469.36510754c0-17.52671242-7.97079563-33.97929668-21.86146258-45.14119148L255.45370293 280.16560269l-6.33005619-5.1794529c-3.50047588-4.94307518-3.90023232-11.32874965-1.14365101-16.44215584 2.52715588-5.61049461 7.82132149-8.95802021 14.1618061-8.95802021H766.45365906a15.79211712 15.79211712 0 0 1 14.09923552 8.85721207 15.95549583 15.95549583 0 0 1-1.53993128 16.60553455z" p-id="5114" fill="#8a8a8a"></path><path d="M672.36837578 711.39850808c-11.09932422-0.29547215-20.03301143-9.63239193-19.81749057-20.82904816 0-11.56512737 8.89197349-20.92290401 19.81749057-20.92290401h132.66699314c10.92899323 0 19.81749058 9.3543005 19.81749058 20.85338115a20.10948658 20.10948658 0 0 1-5.47492505 14.54765796 20.03301143 20.03301143 0 0 1-14.07837867 6.34048462l-0.26418686 0.01042844h-132.66699314zM672.36837578 617.85897923c-11.08194351-0.28851985-20.00867843-9.61848736-19.81749057-20.78733445 0-11.58250808 8.89197349-20.95418931 19.81749057-20.95418929h132.66699314c10.92899323 0 19.81749058 9.37168121 19.81749058 20.89509486a19.90439415 19.90439415 0 0 1-5.29416561 14.45727826 19.84182358 19.84182358 0 0 1-13.88023854 6.37524605l-0.64308643 0.01738071h-132.66699314zM672.36837578 524.32292652c-11.08194351-0.28851985-20.00867843-9.61848736-19.81749057-20.79081059 0-11.55817509 8.89197349-20.90899944 19.81749057-20.90899943h132.66699314c10.92899323 0 19.81749058 9.35082436 19.81749058 20.849905 0.20856858 5.46102047-1.67202472 10.54661751-5.29416561 14.45727825s-8.5513115 6.17362976-13.88023854 6.3787222l-0.67089558 0.01390457h-132.63918399z" p-id="5115" fill="#8a8a8a"></path></svg>
    </div>
    <div class="border bg-light p_container">
       
        <div class="p_checkedLine p_bLine">
            <div class="border-right border-bottom p_lBox">
                <span>{{i18n.selected}}</span>
            </div>
            <div class="border-bottom p_rBox-button">
                <div class="p_valBox">
                   
                </div>
                <div class="p_RButton">
                    <button class="bg-white border text-dark clearAllBtn">
                        <svg t="1627010154314" class="icon p_icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5298" width="200" height="200"><path d="M746.23228413 310.58739301h-52.07424984V209.87430018H329.8419657v100.71309284H225.75457011v50.34975706H277.76771587v402.83200332c0 27.83630043 20.9722761 50.35654641 46.84645683 50.35654642h374.7716546c25.87418073 0 46.84645683-22.54740335 46.84645683-50.35654641V360.93715008h52.04709247v-50.34975706zM433.92257196 713.41939633h-52.03351379v-302.12569982H433.92257196z m104.08739559 0h-52.03351379v-302.12569982h52.04030313z m104.08739559 0H590.07742804v-302.12569982h52.04709248z m0-402.83200331H381.88905817v-50.34975708h260.22188366z" p-id="5299" fill=""></path></svg>
                         {{i18n.clearScreening}}
                    </button>
                </div>
            </div>
        </div>
        <div class="border-top bg-white p_moBBtn">
            <button class="text-primary p_moResat"> {{i18n.reset}}</button>
            <button class="bg-primary text-white p_moConfirm">{{i18n.sure}}</button>
        </div>
    </div>
     <input type="hidden" name="view" value='{{{view}}}'>
</div>