<div class="e_magnifier" needjs="true">
    <div class="magnifier" id="magnifierWrapper">
        <div class="magnifier-container">
            <!--图片容器-->
            <div class="images-cover"></div>
            <!--右下角的加号-->
            <div class="image-bigger">
                <div class="add-icon">+</div>
            </div>
            {{#eq prop.dataList.0.type 'video' }}
            <!--视频按钮-->
            <div class="image-big-video"></div>
            {{/eq}}
            <!--跟随鼠标移动的盒子-->
            <div class="move-view"></div>
        </div>
        <div class="magnifier-assembly">
            <!--按钮组-->
            <div class="magnifier-btn">
                <span class="magnifier-btn-left"></span>
                <span class="magnifier-btn-right"></span>
            </div>
            <!--缩略图-->
            <div class="magnifier-line js-magnifier-line">
                <ul class="clearfix animation03 p_thumbnail_box">
                    {{#prop.dataList}}
                        {{#eq type "video"}}
                        <!--视频-->
                        <li class="video-img">
                            <div class="small-img video-icon">
                                 {{{lazyImage thumbnailUrl "title='{{title}}' alt='{{title}}' data-url='{{url}}' " 'true'}}}
                            </div>
                        </li>
                        {{/eq}}

                        {{#eq type "360"}}
                        <!--360-->
                        <li class="fullview-img" data-imglist="{{imgUrlList}}">
                            <div class="small-img rotate-icon">
                                 <!-- 360显示第一张 -->
                                 {{{lazyImage imgUrlList.[0] "title='{{title}}' alt='{{title}}'" 'true'}}}
                            </div>
                        </li>
                        {{/eq}}

                        {{#eq type "img"}}
                        <!--静态图片-->
                        <li class="static-img">
                            <div class="small-img">
                                {{{lazyImage url "title='{{title}}' alt='{{title}}' data-url='{{url}}' " "true"}}}
                            </div>
                        </li>
                        {{/eq}}
                    {{/prop.dataList}}
                </ul>
            </div>
        </div>
        <!--经过放大的图片显示容器-->
        <div class="magnifier-view"></div>
    </div>
  
</div>