<fieldset class="e_label s_form1 form-group" needjs="true">
    {{#if prop.showLabel}}
    <legend class="col-form-label p_label">
        <span class="s_label">{{prop.label}}</span>
        {{#if prop.validate.required.value}}<span class="text-danger p_required">*</span>{{/if}}
    </legend>
    {{/if}}
    <div class="p_input">
        {{#prop.options}}
        <div class="form-check form-check-inline p_labelItem">
            <input class="form-check-input s_form-control" type="checkbox" name="${elemId}" id="${elemId}-{{@index}}" value="{{value}}" {{#if select}}checked{{/if}}>
            <label class="form-check-label s_other" for="${elemId}-{{@index}}">{{label}}</label>
        </div>
        {{/prop.options}}
    </div>
    <div class="invalid-feedback"></div>
</fieldset>