<fieldset class="e_label form-group" needjs="true">
    {{#if prop.showLabel}}
    <legend class="col-form-label p_label">
        {{prop.label}}
        {{#if prop.required}}<span class="text-danger p_required">*</span>{{/if}}
    </legend>
    {{/if}}
    <div class="p_input">
        {{#prop.options}}
        <div class="form-check form-check-inline p_labelItem">
            <input class="form-check-input" type="checkbox" name="e_checkbox" id="e_checkbox-${id}-{{@index}}" value="{{value}}" {{#if select}}checked{{/if}}>
            <label class="form-check-label" for="e_checkbox-${id}-{{@index}}">{{label}}</label>
        </div>
        {{/prop.options}}
    </div>
    <div class="invalid-feedback"></div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</fieldset>