<div class="e_groupBtn">
       <div class="p_btn"    bind="source-data-templateId|source-data-productId|source-data-coverImage|source-data-retailPrice|source-data-price|source-data-title|source-data-href" data-source="list"  data-templateId="{{templateId}}" data-productId="{{productId}}" data-coverImage="{{coverImage}}" data-retailPrice="{{retailPrice}}" data-price="{{price}}" data-title="{{title}}" data-href="{{href}}"> 
            {{#if prop.showaddCart }}
                <a href="JavaScript:;"  class="s_button btn  btn-primary btn-sm p_btn_set"   >{{i18n.addCart}}</a>
        {{/if}}
            {{#if prop.showsoGo }}
                <a href="JavaScript:;"  class="s_button btn  btn-primary btn-sm p_btn_set"  >{{i18n.soGo}}</a>
        {{/if}}
        {{#if prop.showcomparison }}
                <a href="JavaScript:;"  class="s_button btn  btn-primary btn-sm p_btn_set" data-compar='com'   onclick="comparepop(this)"  >{{i18n.comparison}}</a>
        {{/if}}
        <div class="p_a_btn"  panel="dataList-dataList" data-ename="循环按钮集">
                {{#prop.dataList}}
                <span class="p_datalistspan p_btn_set" data-ename="循环按钮item">
                    
                    <a href="{{$jumpLink linkType linkUrl}}" target="{{linkTarget}}" class="s_button btn  btn-primary btn-sm p_btn p_btn_set"  panelItem ="link-link">
                    {{buttonName}}
                    </a>
                </span>
            {{/prop.dataList}}
        
        </div>
        <div class="p_listbtn" bind="arr-productButtonList" data-ename="自定义按钮">
        {{#productButtonList}}
        <span class="p_abtn p_btn_set" data-ename="按钮元素">
            <a href="{{buttonUrl}}"  class="s_button btn  btn-primary btn-sm p_btn" bind="href-buttonUrl|data-buttonName" >{{buttonName}}</a>
        </span>
            
        {{/productButtonList}}
        </div>
        
    </div>
</div>