<div class="e_groupBtn">
    {{#tree prop.dataList}}
    {{#if @nodeBegin}}<ul>{{/if}}
        <li>
            <b>{{ title }} </b> (DEEP:{{ @deep }}, INDEX:{{ @index }}, nodeBegin:{{ @nodeBegin }}, nodeEnd:{{ @nodeEnd }})
            {{tree children}}
        </li>
    {{#if @nodeEnd}}</ul>{{/if}}
    {{/tree}}
</div>