<div class="e_map_A" needjs="true">
    <!-- 地图容器 -->
    <div id="mapBox"></div>
    <!-- 网点列表 -->
    <div class="p_mapSearch">
        <!-- 搜索 -->
        <div class="input-group p_search">
            <!-- 图标 -->
             <div class="input-group-prepend">
                <span class="input-group-text border-0 p_prepend_text" id="basic-addon1">
                    <svg class="icon p_blue" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="200" height="200"><path d="M807.20057143 763.95246562L698.16374582 654.91564003c37.68084571-47.11803049 60.35724655-106.72844946 60.35724656-171.70244828C758.45309895 331.13194061 635.22654948 207.83749771 483.14529834 207.83749771S207.83749771 331.13194061 207.83749771 483.14529834 331.13194061 758.45309895 483.14529834 758.45309895c64.97399882 0 124.65231121-22.67640083 171.70244827-60.35724655L763.88457221 807.132678c11.94924116 11.94924116 31.29886464 11.94924116 43.24810579-1e-8 12.01713458-11.88134775 12.01713458-31.23097122 0.06789343-43.18021238z m-324.05527309-66.67133421c-118.27033012 0-214.13583308-95.86550295-214.13583309-214.13583306s95.86550295-214.13583308 214.13583309-214.13583311 214.13583308 95.86550295 214.13583308 214.13583311-95.86550295 214.13583308-214.13583308 214.13583306z" p-id="2081"></path></svg>
                </span>
            </div>
            <!-- 输入框 -->
            <input type="text" class="form-control border-0 p_input" placeholder="网点名称">
            <!-- 下拉按钮 -->
            <div class="input-group-append">
                <span class="input-group-text border-0 p_append_text" id="basic-addon2">
                    <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"  width="200" height="200"><path d="M537.18845722 661.43340793L804.89219528 416.27028388c14.59708438-13.37500289 15.54759219-35.98351032 2.24048272-50.51270128-13.37500289-14.59708438-35.98351032-15.54759219-50.51270127-2.24048271L513.01840124 586.61486385 268.73789158 363.72078013c-14.59708438-13.30710947-37.20559179-12.28870823-50.51270127 2.30837613-13.30710947 14.59708438-12.28870823 37.20559179 2.30837614 50.51270128l268.11109855 244.75576357c0.54314733 0.47525392 1.15418807 1.01840124 1.69733541 1.42576172 13.51078973 11.13452018 33.53934734 10.93083994 46.84645681-1.2899749z" p-id="2215"></path></svg>
                </span>
            </div>
        </div>
        <!-- 网点 -->
        <ul class="p_mapList">
            {{#prop.dataList}}
            <li class="p_item" data-lat="{{lat}}" data-lng="{{lng}}">
                <p class="p_name"> {{title}} </p>
                <p class="text-secondary p_address">
                    <span class="p_label">{{../i18n.address}}</span>
                     {{address}} 
                </p>
                <p class="text-secondary p_phone">电话: {{phone}} </p>
                <p class="text-secondary p_email">邮箱: {{email}} </p>
            </li>
            {{/prop.dataList}}
        </ul>
    </div>
</div>