<div class="e_categoryA slide_out" needjs="true">
    <button class="btn btn-primary p_c_mbtn">{{i18n.moCategoryTitle}}</button>
    <div class="p_c_tree">
        <div class="p_c_mput">
            <svg t="1604645690044" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9896" width="200" height="200"><path d="M725.333333 127.146667a53.333333 53.333333 0 0 0-75.52 0L295.253333 482.133333a42.496 42.496 0 0 0 0 60.16l354.56 354.56c20.906667 20.906667 54.613333 20.906667 75.52 0s20.906667-54.613333 0-75.52L416.426667 512l309.333333-309.333333c20.48-20.906667 20.48-55.04-0.426667-75.52z" p-id="9897"></path></svg>
        </div>
        {{#if prop.cate}}
            {{#tree prop.cate}}
                {{#if @nodeBegin}}<ul class="p_c_content">{{/if}}
                <li class="p_c_item">
                    <span class="p_c_title">
                        <a href="{{#if categoryUrl}}{{categoryUrl}}{{^}}javascript:;{{/if}}" target="{{#eq target '_blank'}}_blank{{/eq}}">
                            {{#if categoryImage}}{{#if ../prop.showImg}}
                            {{#each categoryImage}}{{#eq @index 0}}
                                <span>{{{nLazyImage this ../categoryName "true" unittype cdnTag}}}</span>
                            {{/eq}}{{/each}}
                            {{/if}}{{/if}}
                            <span>{{categoryName}}</span>
                        </a>
                    </span>
                    {{tree children}}
                </li>
                {{#if @nodeEnd}}</ul>{{/if}}
            {{/tree}}
        {{^}}
            {{nNoDataPrompt i18n.noData}}
        {{/if}}
    </div>
</div>