<div class="e_relevantItem s_form1 {{#if prop.isHide}}formHide{{/if}}" needjs="true">
    <table class="table p_tabelList">
        <thead></thead>
        <tbody></tbody>
    </table>
   
    {{#eq prop.type 2}}
    <div>
        <a href="javascript:;" class="btn btn-primary btn-sm p_addContent">{{prop.btnText}}</a>
    </div>
    <div class="modal fade" id="${elemId}-relevantModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content p_modalContent">
                <div class="modal-header bg-primary text-white">
                    <h6 class="modal-title" id="modalTitle">{{i18n.select}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-white" aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row p_screen">
                        <div class="col p_categoryCon clearfix">
                            <div class="p_clabel">{{i18n.category}}</div>
                            <div class="p_ccate">
                                <div class="treeSelect p_treeSelect"></div>
                            </div>
                        </div>
                        <div class="col p_searchCon">
                            <div class="input-group p_search">
                                <input type="text" class="form-control p_searchInput" placeholder="{{i18n.searchPlaceholder}}" >
                                <div class="input-group-append">
                                    <a class="btn btn-primary p_searchBtn" href="javascript:;" role="button"><svg t="1630585187983" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8475" width="128" height="128"><path d="M652.62500027 599.89062527h-28.12500054l-10.546875-10.546875c42.1875-49.21874973 63.28125-116.015625 52.734375-186.32812554-17.57812473-98.43750027-98.43750027-175.78124973-196.87499973-186.32812473-147.65625-21.09375-274.21875 105.46875-256.64062527 253.125 10.546875 98.43750027 91.40624973 179.296875 186.32812554 196.87499973 70.31249973 10.546875 137.109375-10.546875 186.32812473-52.734375l10.546875 10.546875v28.12500054l147.65625 151.17187446c14.06250027 14.06250027 38.67187473 14.06250027 52.734375 0s14.06250027-38.67187473 0-52.734375L652.62500027 599.89062527z m-210.9375 0c-87.89062527 0-158.203125-70.31249973-158.203125-158.203125s70.31249973-158.203125 158.203125-158.203125 158.203125 70.31249973 158.203125 158.203125-70.31249973 158.203125-158.203125 158.203125z" p-id="8476"></path></svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p_list">
                        <table class="table p_tabel">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row p_oprate">
                        <div class="col-3 p_selectAll">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="p_selectAll">
                                <label class="form-check-label" for="p_selectAll">{{i18n.xzAll}}</label>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="page_con p_listPage"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary p_cancel" data-dismiss="modal">{{i18n.cancel}}</button>
                    <button type="button" class="btn btn-primary p_confirm">{{i18n.confirm}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/eq}}
</div>