<div class="e_login form-group" needjs="true">
    <!-- 密码登录 -->
    <div class="login_box p_password_box">
        <label class="p_label">
            {{i18n.titlePassword}}
        </label>
        <div class="p_input">
            <p class="p_error">{{i18n.Accountandpasswordnotmatch}}</p>
            <ul>
                <li>
                    <input type="text" class="form-control-p p_user_name" placeholder="{{i18n.placeholderuser}}" data-val="0" />
                    <p class="p_p_tip">{{i18n.tipUsername}}</p>
                </li>
                <li>
                    <input type="password" class="form-control-p p_user_passwrod" placeholder="{{i18n.placeholderPassword}}" data-val="0" />
                    <p class="p_p_tip">{{i18n.tipPassword}}</p>
                </li>
            </ul>

            <p class="p_lable_text">
                <span class="switch_loginway p_code_login" data-box="p_login_box">{{i18n.codeLogin}}</span>
                <span class="p_goto_passwrod">{{i18n.forgetPassword}}</span>
            </p>
            <button class="btn btn-primary p_login_btn s_button1" data-loginway="pwd">{{i18n.login}}</button>
            <p class="p_lable_text">
                <span></span>
                <span class="p_register">
                    <a href="/register.html">{{i18n.freeRegistration}}</a>
                </span>
            </p>
        </div>
    </div>
    <!-- 验证码 登录 -->
    <div class="login_box p_login_box">
        <label class="p_label p_tab_pe">
            <span class="p_loginway active" data-box="phone_login_box" data-type="mobile">{{i18n.phoneLogin}}</span>
            ｜
            <span class="p_loginway" data-box="email_login_box" data-type="email">{{i18n.emailLogin}}</span>
        </label>
        <!-- 手机号登录  -->
        <div class="phone_login_box p_pe_box">
            <div class="p_input">
                <p class="p_error">{{i18n.Accountandpasswordnotmatch}}</p>
                <ul>
                    <li>
                        <div class="p_select">
                            <input type="text" class="form-control-p p_indent p_user_phone" maxlength="12" placeholder="{{i18n.placeholderPhone}}" data-val="0" />
                            <select class="p_select_html">
                                <option value="volvo">+ 86</option>
                                <option value="saab">+ 86</option>
                            </select>
                        </div>
                        <p class="p_p_tip">{{i18n.placeholderPhone}}</p>
                    </li>
                    <li>
                        <div class="p_input_div">
                            <input type="text" class="form-control-p p_user_code" maxlength="6" placeholder="{{i18n.placeholderCode}}" data-val="0" />
                            <div class="js_time_1 p_getcode" data-code="0">{{i18n.getCode}}</div>
                            <div class="js_time_2 p_getcode"></div>
                        </div>
                        <p class="p_p_tip">{{i18n.tipphoceCode}}</p>
                    </li>
                </ul>
                <!-- 密码登录 -->
                <p class="p_lable_text">
                    <span class="switch_loginway p_password_login" data-box="p_password_box">{{i18n.titlePassword}}</span>
                </p>
                <button class="btn btn-primary p_login_btn s_button1" data-loginway="phone">{{i18n.login}}</button>
                <p class="p_lable_text">
                    <span></span>
                    <span class="p_register">
                        <a href="/register.html">{{i18n.freeRegistration}}</a>
                    </span>
                </p>
            </div>
        </div>
        <!-- 邮箱登录  -->
        <div class="email_login_box p_pe_box">
            <div class="p_input">
                <p class="p_error">{{i18n.Accountandpasswordnotmatch}}</p>
                <ul>
                    <li>
                        <div>
                            <input type="text" class="form-control-p p_user_email" placeholder="{{i18n.placeholderEmail}}" data-val="0" />
                            <p class="p_p_tip">{{i18n.placeholderEmail}}</p>
                        </div>
                    </li>
                    <li>
                        <div class="p_input_div">
                            <input type="text" class="form-control-p p_user_emailcode" maxlength="6" placeholder="{{i18n.placeholderemailCode}}" data-val="0" />
<<<<<<< HEAD
                            <div class="p_getcode js_time_1" data-code="1">{{i18n.getCode}}</div>
                            <div class="p_time-2"></div>
=======
                            <div class="js_time_1 p_getcode" data-code="1">{{i18n.getCode}}</div>
                            <div class="js_time_2 p_getcode"></div>
>>>>>>> origin/wyz_login
                        </div>
                        <p class="p_p_tip">{{i18n.tipemailCode}}</p>
                    </li>
                </ul>
                <p class="p_lable_text">
                    <span class="switch_loginway p_password_login" data-box="p_password_box">{{i18n.titlePassword}}</span>
                </p>
                <button class="btn btn-primary p_login_btn s_button1" data-loginway="email">{{i18n.login}}</button>
                <p class="p_lable_text">
                    <span></span>
                    <span class="p_register">
                        <a href="/register.html">{{i18n.freeRegistration}}</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <!-- 蒙版 -->
    <div class="p_popup_box"></div>
    <!-- 忘记密码 -->
    <div class="p_popup_password">
        <p class="p_forgetPassword">{{i18n.forgetPassword}}</p>
        <div class="p_topTip">{{i18n.topTip}}<br />{{i18n.topTips}}</div>
        <ul>
            <!-- 手机 找回 -->
            <li class="p_back">
                <a href="/sys/forgotpassword?type=phone">{{i18n.phonecodetoPassword}}</a>
            </li>
            <!-- 邮箱 找回 -->
            <li class="p_back">
                <a href="/sys/forgotpassword?type=mail">{{i18n.emailcodetoPassword}}</a>
            </li>
        </ul>
    </div>
    <input type="hidden" name="i18nJson" value="{{i18nJson}}" />
</div>