<ul class="e_specification" needjs="true">
    {{#prop.specList}}
        <li class="p_item">
            <!--规格名称-->
            <span class="p_specName"> {{specName}} </span>
            <!--规格值-->
            <ul class="p_valueUl">
                {{#productSpecValues}}
                <li class="itemValue " data-id="{{specId}}"> 
                    {{#if ../imageFlag}}
                        <!--图片类型-->
                        {{{lazyImage img "class='specValueI p_size' title='{{name}}' alt='{{name}}' " 'true'}}}
                    {{^}}
                        <!--文字类型-->
                        <span class="specValueT p_size">{{name}}</span>
                    {{/if}}
                </li>
                {{/productSpecValues}}
            </ul>
        </li>
    {{/prop.specList}}
</ul>