<div class="e_categoryB" needjs="true">
    <button class="p_c_mbtn js_editor_click">{{i18n.moCategoryTitle}}</button>
    <div class="p_c_tree">
        {{#if prop.cate}}
        {{#tree prop.cate}}
        {{#if @nodeBegin}}<ul class="p_c_content deep-{{@deep}}">{{/if}}
            <li class="p_c_item">
                <p class="p_c_title{{@deep}} js_editor_click deep {{#eq selected true}}active{{/eq}}">
                    <a href="{{#if categoryUrl}}{{categoryUrl}}{{^}}javascript:;{{/if}}"
                        target="{{#eq target '_blank'}}_blank{{/eq}}">
                        {{#if categoryImage}}{{#if ../prop.showImg}}
                        {{#each categoryImage}}{{#eq @index 0}}
                        <span class="p_c_images">{{{nLazyImage this ../categoryName "true" unittype cdnTag}}}</span>
                        {{/eq}}{{/each}}
                        {{/if}}{{/if}}
                        <span>{{categoryName}}</span>
                    </a>
                </p>
                {{tree children}}
            </li>
            {{#if @nodeEnd}}
        </ul>{{/if}}
        {{/tree}}
        {{^}}
        {{nNoDataPrompt i18n.noData}}
        {{/if}}
    </div>
    <div class="p_c_mput js_editor_click"></div>
</div>