<div class="e_imgCube_B">
    {{#prop.imgList}}
		<!-- 前3个 -->
		{{#lt @index 2}}
			<div class="p_imgItem " 
            style="width:calc(( 100% - {{../prop.space}}px) / 2);height:calc(( 100% - {{../prop.space}}px) / 2)">
                <!-- 链接 -->
                {{#if href.value}}	
                <a href="{{$transferLink href.value compId}}" target="{{href.target}}">
                {{/if}}
                    <!-- 图片 -->
                    {{{nLazyImage url title "{{isLazy}}"}}}
                {{#if href.value}}	
                </a>
                {{/if}}
            </div>
                        
		{{/lt}}
        {{#eq @index 2}}
			<div class="p_imgItem " 
            style="width:100%;height:calc(( 100% - {{../prop.space}}px) / 2)">
                <!-- 链接 -->
                {{#if href.value}}	
                <a href="{{$transferLink href.value compId}}" target="{{href.target}}">
                {{/if}}
                    <!-- 图片 -->
                    {{{nLazyImage url title "{{isLazy}}"}}}
                {{#if href.value}}	
                </a>
                {{/if}}
            </div>
                        
		{{/eq}}
    {{/prop.imgList}}
</div>