<div class="e_loop s_list" needjs="true">
    {{#if datasource._config._dataFilter}}
    {{#if datasource._config._dataFilter.filter}}
    <div class="p_filter_wrapper">
        {{#datasource._config._dataFilter.fields}}
        <div class="p_kv_wrapper js-kv-wrapper" data-selectMode="{{selectMode}}">
            <div class="p_filter_key js-key">
                {{name}}
            </div>
            {{!-- 标签式 --}}
            {{#eq displayMode 'tag'}}
            <div class="p_filter_value">
                <div class="p_v_list js-value-list" data-index="{{@index}}">
                    {{#values}}
                    {{#eq filterType 'value'}}
                    <div class="p_v_item js-value-item " data-index="{{@index}}" data-valueType="{{valueType}}"
                        data-value="{{value}}">
                        {{name}}
                    </div>
                    {{/eq}}
                    {{!-- 区间指定值 --}}
                    {{#eq filterType 'range'}}
                    <div class="p_v_item js-value-item" data-index="{{@index}}"
                        data-value="{{range.leftType}}&{{range.left}}&{{range.rightType}}&{{range.right}}">{{name}}
                    </div>
                    {{/eq}}
                    {{/values}}
                </div>
            </div>
            {{/eq}}
            {{#eq displayMode 'select'}}
            {{#eq selectMode 'multiple'}}
            <div class="multSelect p_input">
            </div>
            {{/eq}}
            {{#eq selectMode 'radio'}}
            <select class="form-control p_filter_select" data-index="{{@index}}">
                {{#values}}
                <option class="p_s_option" data-index="{{@index}}" value="{{value}}" data-valueType="{{valueType}}"
                    data-value="{{value}}">{{name}}</option>
                {{/values}}
            </select>
            {{/eq}}
            {{/eq}}
            {{!-- {{#eq displayMode 'input'}}
            {{#values}}
            {{#eq value 'normal'}}
            <div class="js_normal p_normal">
                <input class="form-control js_normal-start p_normal_start" type="text" value="" /><span class="p_split">-</span><input class="form-control js_normal-end p_normal_end" type="text" />{{name}}
            </div>
            {{/eq}}
            {{#eq value 'date'}}
            <div class="j_date">
                <input class="form-control date-start  p_date_start" type="text" value="" /><span class="p_split">-</span><input class="form-control date-end  p_date_start" type="text" />{{name}}
            </div>

            {{/eq}}
            {{/values}}
            {{/eq}} --}}
            {{#eq displayMode 'input'}}
            <div class="p_filter_value">
                <div class="p_v_list js-value-list" data-index="{{@index}}">
                    {{#values}}
                    {{#eq value 'normal'}}
                    <div class="p_v_item js-value-item " data-index="{{@index}}" data-valueType="{{valueType}}"
                        data-value="{{value}}">
                        <div class="js_normal p_normal">
                            <input class="form-control js_normal-start p_normal_start" type="text" value="" /><span
                                class="p_split">-</span><input class="form-control js_normal-end p_normal_end"
                                type="text" />{{name}}
                        </div>
                    </div>
                    {{/eq}}

                    {{#eq value 'date'}}
                    <div class="p_v_item js-value-item " data-index="{{@index}}" data-valueType="{{valueType}}"
                        data-value="{{value}}">
                        <div class="j_date">
                            <input class="form-control date-start  p_date_start" type="text" value="" /><span
                                class="p_split">-</span><input class="form-control date-end  p_date_start"
                                type="text" />{{name}}
                        </div>
                    </div>
                    {{/eq}}

                    {{/values}}
                </div>
            </div>
            {{/eq}}

        </div>
        {{/datasource._config._dataFilter.fields}}

        {{#if datasource._config._dataFilter.showCondition}}
        <div class="p_filter_result js-condition-wrapper">
            <span>条件：</span>
        </div>
        {{/if}}
    </div>

    <br>
    {{/if}}
    {{/if}}
    {{#if prop.dataList}}
    <div class="p_list">
        {{#prop.dataList}}
        <div class="cbox-${id} p_loopitem"></div>
        {{/prop.dataList}}
    </div>
    <div class="p_page">
        {{{nPaging prop.page prop.pageConfig}}}
    </div>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}

    <input type="hidden" name="_config" value='{{$toJson datasource._config}}'>
    <input type="hidden" name="view" value='{{{view}}}'>
</div>