<div class="e_navigationF" needjs="true">
    {{#if prop.dataList}}
    <ul class="p_navBox1">
        {{#each prop.dataList}}
        <li class="p_navItem1">
            <p class="p_navCon js_editor_click">
                <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                    url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                    <span>{{navName}}</span>
                </a>
                {{#if children}}{{{../prop.arrow}}}{{/if}}
            </p>
            {{#if children}}
            <ul class="p_navBox2">
                <div>
                    <ul>
                        {{#each children}}
                        <li class="p_navItem2">
                            <p class="p_navCon2 js_editor_click">
                                <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                                    url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                                    <span class="p_img">{{#if img}}{{{nLazyImage img navName 'true'}}}{{/if}}</span>
                                    <span>{{navName}}</span>
                                </a>
                                {{#if children}}{{{../../prop.arrow}}}{{/if}}
                            </p>
                            {{#if this.children}}
                            <ul class="p_level3Box">
                                {{#each this.children}}
                                <li class="p_level3Item">
                                    <p class="p_navCon3 js_editor_click">
                                        <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                                            url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                                            <span>{{#if img}}{{{nLazyImage img navName 'true'}}}{{/if}}</span>
                                            <span class="p_menuItemhat">{{navName}}</span>
                                        </a>
                                        {{#if children}}{{{../../../prop.arrow}}}{{/if}}
                                    </p>
                                    {{#if this.children}}
                                    <ul class="p_level4Box">
                                        {{#each this.children}}
                                            <li class="p_level4Item">
                                                <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if
                                                    url}}target="{{#eq target 'blank'}}_blank{{/eq}}" {{/if}}>
                                                    <span>{{#if img}}{{{nLazyImage img navName 'true'}}}{{/if}}</span>
                                                    <span class="p_menuItem">{{navName}}</span>
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                    {{/if}}
                                </li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <div class="p_navButton js_editor_click">
        <p>
            <span></span>
            <span></span>
            <span></span>
        </p>
    </div>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
</div>