<div class="e_select form-group {{#eq prop.state 'hidden'}}formHide{{/eq}}" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        {{#if prop.validate.required.value}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    {{#eq prop.state 'readOnly'}}
    <p class="p_formValue"></p>
    {{/eq}}
    <div class="{{#eq prop.state 'readOnly'}}hide{{/eq}}">
        <select class="form-control p_input" name="${elemId}" {{#eq prop.state 'disabled'}}disabled{{/eq}} >
            {{#if prop.showPlaceholder}}
            <option value="">{{prop.placeholder}}</option>
            {{/if}}
            {{#prop.options}}
            <option value="{{value}}">{{label}}</option>
            {{/prop.options}}
        </select>
        <div class="invalid-feedback"></div>
    </div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>
