<div class="e_select form-group" needjs="true">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        {{#if prop.required}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    <select class="form-control p_input">
        {{#if prop.showPlaceholder}}
        <option value="">{{prop.placeholder}}</option>
        {{/if}}
        {{#prop.options}}
        <option value="{{value}}">{{label}}</option>
        {{/prop.options}}
    </select>
    <div class="invalid-feedback"></div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>
