<div class="e_navigationB" needjs="true">
    {{#if prop.dataList}}
    <p class="p_iconBox">
        {{{prop.menu}}}
        {{{prop.close}}}
    </p>
    <ul class="p_navBox1">
        {{#each prop.dataList}}
        <li class="border-bottom p_navItem1">
            <p>
                <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if url}}target="{{#eq target 'blank'}}_blank{{/eq}}"{{/if}}>
                    <span>{{navName}}</span>
                    {{#if children}}{{{../prop.arrow}}}{{/if}}
                </a>
            </p>
<<<<<<< Updated upstream
            {{#if children}}
            <ul class="bg-white border p_navBox2">
                {{#each children}}
                <li class="p_navItem2">
=======
            {{#if this.children}}
            <ul class="p_navBox2">
                {{#each this.children}}
                <li class="p_navItem2 js_editor_click ">
>>>>>>> Stashed changes
                    <p>
                        <a href="{{#if url}}{{url}}{{^}}javascript:;{{/if}}" {{#if url}}target="{{#eq target 'blank'}}_blank{{/eq}}"{{/if}}>
                            {{#if img}}
                            <span class="p_img">{{{nLazyImage img navName 'true'}}}</span>
                            {{/if}}
                            <span>{{navName}}</span>
                        </a>
                    </p>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    {{^}}
    {{{nNoDataPrompt i18n.noData}}}
    {{/if}}
</div>