<div class="e_bannerC" needjs="true">
    {{#if prop.bannerLists}}
    <div class="swiper-container gallery-top" >
        <div class="swiper-wrapper">
            {{#prop.bannerLists}}
            <div class="swiper-slide" >
                {{#eq type 1}}
                    {{#if href}}
                    <a href="{{href}}" target="{{target}}">
                    {{/if}}
                    <div class="p_img">
                        {{{lazyImage imgUrl "title='{{title}}' alt='{{title}}'" 'true'}}}
                    </div>
                    {{#if href}}
                    </a>
                    {{/if}}
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_video">
                        <div class="p_videoPoster">
                            {{{lazyImage video.imgUrl "title='{{title}}' alt='{{title}}'" 'false'}}}
                        </div>
                        <video class="videoContent" src="{{video.videoUrl}}" muted></video>
                    </div>
                {{/eq}}
                <div class="p_info {{#eq type 2}}p_videoInfo{{/eq}}">
                    <div>
                        {{#if title}}
                        <h1 class="text-white p_btitle">{{title}}</h1>
                        {{/if}}
                        {{#if subTitle}}
                        <h6 class="text-white bg-dark p_subtitle">{{subTitle}}</h6>
                        {{/if}}
                        {{#if summary}}
                        <p class="text-white p_summary">{{summary}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/prop.bannerLists}}
        </div>
        <!-- Add Arrows -->
        {{#if prop.navigation}}
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        {{/if}}
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            {{#prop.bannerLists}}
            <div class="swiper-slide" >
                {{#eq type 1}}
                    <div class="p_img">
                        {{{lazyImage imgUrl "title='{{title}}' alt='{{title}}'" 'true'}}}
                    </div>
                {{/eq}}
                {{#eq type 2}}
                    <div class="p_img">
                        {{{lazyImage video.imgUrl "title='{{title}}' alt='{{title}}'" 'true'}}}
                    </div>
                {{/eq}}
            </div>
            {{/prop.bannerLists}}
        </div>
    </div>
    {{^}}
    {{{noDataPrompt}}}
    {{/if}}
    <input type="hidden" name="propJson" value='{{{propJson}}}' />
</div>