<div class="e_preView" needjs="true">
    <div class="p_imgbox">
        <div class="p_img_div" >
             {{#prop.images}}
                <div class="p_listimg {{#eq @index 0}}active{{/eq}}"">
                    <a href="{{$transferLink prop.href compId}}" target="{{prop.href.target}}" class="p_img_a"  >
                     {{{lazyImage url 'class="p_scroll_item_img"  title="{{title}}" alt="{{title}}"' 'true'}}}
                     </a>
                </div>
            {{/prop.images}}
            {{!-- <a href="{{$transferLink prop.href compId}}" target="{{prop.href.target}}" class="p_img_a"  >
                {{{lazyImage prop.coverImage 'class="p_img"  title="{{prop.title}}" alt="{{prop.title}}"' 'true'}}}
            </a> --}}
        </div>
        <div class="p_scroll" >
            <ul class="p_scroll_main">
                {{#prop.images}}
                    <li class="p_scroll_item  {{#eq @index 0}}curr{{/eq}}" >
                        <a href="JavaScript:;" class="p_scroll_item_a " >
                             {{{lazyImage url 'class="p_scroll_item_img"  title="{{title}}" alt="{{title}}"' 'true'}}}
                        </a>
                    </li>
                {{/prop.images}}
            </ul>
        </div>
     </div>   
</div>