<div class="e_subForm s_layout" needjs="true">
    {{#if prop.showLabel}}
    <div class="p_title s_label">{{prop.label}}</div>
    {{/if}}
    <div class="p_thead">
        {{#prop.layout}}
            <div class="p_th">{{#eq @last true}}{{i18n.operate}}{{/eq}}</div>
        {{/prop.layout}}
    </div>
    <div class="p_tbody">
        <div class="p_tr">
        {{#prop.layout}}
            <div class="cbox-${id}-{{@index}} p_td">{{#eq @last true}}<a class="text-primary p_remove" href="javascript:;">{{i18n.remove}}</a>{{/eq}}</div>
        {{/prop.layout}}
        </div>
    </div>
    {{#if prop.showBtn}}
    <div>
        <a href="javascript:;" class="btn btn-primary btn-sm p_addRow">{{prop.btnText}}</a>
    </div>
    {{/if}}
    <input type="hidden" name="${elemId}" >
</div>