{{#if prop.href}}
    <a href="{{prop.href}}" target="{{prop.target}}">
{{/if}}
<img class="e_image s_image" src="{{prop.src}}" title="{{prop.title}}" alt="{{prop.alt}}" />
{{#if prop.href}}
    </a>
{{/if}}