<div class="e_agreement s_form1 form-group">
    {{#if prop.showLabel}}
    <label class="p_label">
        <span class="s_label">{{prop.label}}</span>
        <span class="text-danger p_required">*</span>
    </label>
    {{/if}}
    <div>
        <div class="form-check form-check-inline p_input">
            <input class="form-check-input s_form-control" type="checkbox" name="${elemId}" id="${elemId}-{{@index}}" {{#if prop.validate.select.value}}checked{{/if}}>
            <label class="form-check-label s_other" for="${elemId}-{{@index}}">{{prop.placeholder}}</label>
            <a href="javascript:;" class="text-primary p_showAgreement">{{prop.linkText}}</a>
        </div>
        <div class="invalid-feedback"></div>
    </div>
</div>