<div class="e_agreement form-group">
    {{#if prop.showLabel}}
    <label class="p_label">
        {{prop.label}}
        {{#if prop.validate.required.value}}<span class="text-danger p_required">*</span>{{/if}}
    </label>
    {{/if}}
    <div>
        <div class="form-check form-check-inline p_input">
            <input class="form-check-input" type="checkbox" name="${elemId}" id="${elemId}-{{@index}}" {{#if prop.select}}checked{{/if}}>
            <label class="form-check-label" for="${elemId}-{{@index}}">{{prop.placeholder}}</label>
            <a href="javascript:;" class="text-primary p_showAgreement">{{prop.linkText}}</a>
        </div>
        <div class="invalid-feedback"></div>
    </div>
    <input type="hidden" name="propJson" value='{{{propJson}}}'>
</div>